*{
margin:0;
padding:0;
}
body {

overflow-x:hidden;
color:white;
font-size:12px;
width: 100%;
background-color: #68ced6;
}
.main{

width:100%;
margin:0px auto;

}

.top{
margin: 0px auto;
width: 100%;
height: 100px;
padding-top:10px;
padding-left:10px;
}

.m_up{
margin: 0px auto;
width: 100%;
height: 100px;
}
.m_down{
margin: 0px auto;
width:78%;
height: 200px;
padding:0 11%;
}
p{
position: relative;
color: #FFF;
}
.bottom{
margin: 0px auto;
width: 100%;
position: relative;
}
.b_left{
float:left;
padding-left:10%;

}
.b_right{
float:right;
padding-right:10%;

}